.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}

.video__comment-form {
  display: flex;
  flex-direction: row;
  textarea {
    color: #666;
    font-size: 14px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    height: 45px;
    width: 350px;
    border: #999 3px solid;
    padding: 10px;
    &:focus {
      color: #000;
      outline: none;
      border: #35a5e5 3px solid;
    }
  }
  button {
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3c93d5;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
  .deleteCommentBtn {
    cursor: pointer;
  }
}
