extends base
include mixins/video

block content
    h2 Welcome here you will be trending videos
    ul
        each video in videos 
            +video(video)
        else 
            li sorry noting found